.sample-post{
    display: grid;
    grid-template-rows: 30% 70%;

    padding: 10px 20px;

    border-top: #2f3336 solid 1px;

    .short-info{
        grid-template-columns: 10% 90%;
    }

    &__likes {
        display: flex;

        .sample-post__button {
            width: 25px;
            height: 25px;
            background-color: black;
            border: #ffffff solid 1px;
            margin: 10px;
        }

        .sample-post__button:first-child {
            margin-left: 0px;
        }
    }
}