.short-info{
  display: grid;
  grid-template-columns: 20% 80%;

  &.h2 {
    text-align: center;
  }

  &__block-name{
    
    .block-name__text {
      margin-top: 5px;
    }      
    .block-name__title {
      margin-bottom: 0px;
    }
  }

  & a{
    margin: auto 0;
  }
}