$bgColor: #000000;
$textColor: #ffffff;
$iconColor: $textColor;
$buttonColor: #1d9bf0;

/* Sidebar */
.sidebar{
    padding: 0 8%;
  
    &__search{
      width: 100%;
      height: 50px;
  
      margin-top: 10px;

      .search__search_img {
        width: 28px;
        margin: 10px 15px;
      }
    }
  
    &__following_account{
      width: 100%;
      height: 350px;
  
      margin-top: 30px;
  
      .following_account__title{
        text-align: center;
        padding-top: 20px;
      }
    }
}
  

  
  