$bgColor: #000000;
$textColor: #ffffff;
$iconColor: $textColor;
$buttonColor: #1d9bf0;

.back-button{
    border-bottom: #535252 solid 0.1px;

    &__img , &__wrapper{
      display: inline-block;
    }

    &__img {
      width: 25px;
      margin: 10px 20px;
    }

  &__wrapper{
    margin-left: 30px;

    .account-followers-number{
      color: rgb(113, 118, 123);
      margin: 5px 0;
    }
    
    .account-name {
      margin: 0;
    }
  }
}

